body {
    font-family: 'Poppins',sans-serif;
    background: #00000060;
}
.warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
}

.warpper .icon {
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.warpper .icon i {
    color: #000;
    transition: .4s linear;
}

.warpper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #111;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: all cubic-bezier(0.68 -0.55, 0.265, 1.55);
}

.warpper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.warpper .icon::before,
.warpper .icon::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.warpper .icon:hover span,
.warpper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .1);
    transform: scale(.8);
    transition: .4s linear;
}

.warpper .icon:hover::after {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewx(20deg);
    color: #fff;
}

.warpper .icon:hover::before {
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewx(-20deg);
    color: #fff;
}














